html {
  background-image: -webkit-linear-gradient(
    65deg,
    rgb(18, 106, 182) 50%,
    #9daadc 50%
  );
  min-height: 900px;
  font-family: "helvetica neue";
}
h1 {
  color: #ffffff;
  padding: 10px;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 1px #435bba;
}
#heading {
  background-color: #a683e3;
  text-align: center;
  box-shadow: 5px 5px 5px 1px rgba(91, 31, 92, 0.804);
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.item:last-child {
  border-bottom: 0;
}
input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}
input[type="checkbox"] {
  margin: 15px;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  text-align: left;
}
form {
  text-align: center;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin-left: 70px;
  text-align: center;
}
input[type="text"] {
  margin: 0;
  text-align: left;
  height: 20px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  font-family: "helvetica neue";
  border-bottom: 0;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
  align-content: center;
}
input[type="text"]::placeholder {
  text-align: center; 
  vertical-align: middle; 
  color: grey;
  opacity: 1;
  
}
footer {
  text-align: center;
}
#edit {
  min-height: 30px;
  width: 30px;
  border-radius: 100%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 15px;
  border-width: 0;
  max-height: 15px;
}

.item-form {
  display: inline-block;
  margin-right: 10px; 
}

.form-container {
  display: flex;
  align-items: center;
}

